/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #007bff; /* Warna latar belakang biru */
    color: #fff; /* Warna teks putih */
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 1); /* Latar belakang dengan alpha untuk efek transparansi */
    border-radius: 10px; /* Bulatan sudut form */
    border: 2px solid #0056b3; /* Warna dan ketebalan border */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
    background-color: #e2e2e2; /* Warna latar belakang input putih */
    color: #333; /* Warna teks input hitam */
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
